<!-- <section class="cover" id="img1">
    <div class="container">
        <div class="row " style="align-items: center;justify-content: center;">
            <div class="col-md-10" style="text-align: center;">
                <h1 style="color: #fff;">Hello I'm
                    <strong style="display: block;">Harshit Garg</strong>
                </h1>
                <strong>AND THIS IS MY RESUME</strong>
            </div>
        </div>
        <div class=" absolute w-24 h-24 lg:w-32 lg:h-32 rounded rounded-full p-1 bg-white bottom-0 flex items-center justify-center shadow-md left-1/2 transform -translate-x-1/2 translate-y-1/2">
            <img src="../../assets/images/my_img.jpg" class="h-full w-full rounded rounded-full object-cover" alt="">
        </div>
    </div>
</section> -->
<section class="section1">
    <div style="position: relative;">
        <div class="cover">
            <img src="../../assets/images/my_img2.jpg" style="height: 400px;" alt="" width="100%" height="400px">
        </div>
        <div class="pic transform -translate-x-1/2 translate-y-1/2">
            <img src="../../assets/images/my_img.jpg" style="height: 100%;width: 100%;border-radius: 9999px;" alt="">
        </div>
    </div>
</section>
<section class=" mb-6 px-8">
    <h1 class=" text-headings text-center text-2xl capitalize">Harshit Garg</h1>
    <h2 class=" text-center text-xl whitespace-pre-wrap">+91-8869074301</h2>
</section>
