<p>footer works!</p>
<footer style="margin-top: 50px;padding-top: 50px;box-sizing: border-box; background-color: #000;">
    <div class="container">
        <div class="row" style="box-sizing: border-box;">
            <div class="col-md-12" style="text-align: center;">
                <p style="text-align: center;">
                    <a href="https://www.facebook.com/harshit.garg.777158" target="_black" style="width: 60px;height: 60px;border-radius: 50%;font-size: 40px;margin: 0 10px;"><img src="../../assets/images/facebook.png" height="40px" width="40px"></a>
                    <a href="#" style="width: 60px;height: 60px;border-radius: 50%;font-size: 40px;margin: 0 10px;"><img src="../../assets/images/twitter.png" height="40px" width="40px"></a>
                    <a href="https://www.instagram.com/harshit.garg___/" target="_black" style="width: 60px;height: 60px;border-radius: 50%;font-size: 40px;margin: 0 10px;"><img src="../../assets/images/instagram.png" height="40px" width="40px"></a>
                    <a href="https://www.linkedin.com/in/harshit-garg-530490153/" target="_black" style="width: 60px;height: 60px;border-radius: 50%;font-size: 40px;margin: 0 10px;"><img src="../../assets/images/linkedin.png" height="40px" width="40px"></a>
                <p>
            </div>
        </div>
        <hr width="90%" color="#808080">
        <div class="row" style="padding-bottom: 50px;">
            <div class="col-md-12" style="text-align: center;">
                <span style="color: #808080;">Copyright © 2020 – All Right Reserved. Designed & Developed by Harshit Garg</span>
            </div>
        </div>

