<p>about works!</p>
<section style="padding-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="text-align: left;color: #000;">
                    <h2>About Me</h2>
                </div>
            </div>
            <div class="col-md-6">
                <p>Engineering student ,keen Web developer with extensive knowledge of HTML, CSS, Bootstrap and Javascript.Highly organized and punctual.Currently pursuing Bachelor of technology from ABES Engineering College affiliated to Abdul kalam technical university</p>
            </div>
            <div class="col-md-3" style="display: flex;">
                <ul>
                    <h5>Technical Skills</h5>
                    <li>HTML, CSS, Bootstrap</li>
                    <li>MySql, jQuery, PHP</li>
                    <li>phpMyAdmin, PostgreSQL, Oracle10g, MySQL</li>
                    <li>Wordpress, Marketo, GitHub</li><br>
                    <h5>Interpersonal Skills</h5>
                    <li>Solving Logical Reasoning</li>
                    <li>Traveling</li>
                    <li>Cooking</li>
                </ul>
            </div>
            <div class="col-md-3">
                <img src="../../assets/images/Harshit_Garg_Resume.jpg" width="100%">
                <a href="../../assets/images/Harshit_Garg_Resume.pdf" target="_black">Click Here</a>To View the CV
            </div>
        </div>
    </div>
</section>

